/*-------

RESET

--------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------

GENERAL

--------*/

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/*-------

LAYOUT

--------*/

.my-row-head{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.my-col-logohead{
    width: 25%;
}

.my-col-linkhead{
    width: 50%;
}

.my-col-login{
    width: 25%;
}

nav{
    display: inline-block;
}


.my-row-first, .my-row-second {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-col-first{
    width: 75%;

}


.my-col-second-one{
    width: 60%;
}

.my-col-second-two{
    width: 40%;
}




/*-------

DEBUG

--------*/

.debug header {
    background-color: #ADD8E6;
    height: 100px;
}

.my-col-logohead{
    background-color: #DAA520;
    height: 50px;
    border: dashed black;
    text-align: left;
    font-size: 1.2em;
    padding-top: 10px;
    padding-left: 5px;
    
}

.my-col-linkhead{
    background-color: #DAA520;
    height: 50px;
    border: dashed black;
    text-align: center;
    font-size: 1.2em;
    padding-top: 10px;
}

.my-col-login{
    background-color: #DAA520;
    height: 50px;
    border: dashed black;
    text-align: right;
    font-size: 1.2em;
    padding-top: 10px;
    padding-right: 5px;
}

.first-section{
    background-color: #00008B;
    height: 500px;
}

.my-col-first{
    background-color: #EE82EE;
    height: 400px;
    border: dashed black;
}

.second-section{
    height: 600px;
}

.my-col-second-one{
    background-color: #1E90FF;
    height: 500px;
    border: dashed black;
}

.my-col-second-two{
    background-color: #FFC0CB;
    height: 500px;
    border: dashed black;
}

.third-section{
    height: 600px;
    background-color: #D3D3D3; 
}